<div class = "container">
  <div class = "consulta_empleados_titulo">
    <h1>Consulta Empleados</h1>
  </div>
  <div class="contenedor_acciones">
    <div class="contenedor_busqueda">
      <div class="form__group">
        <button (click) = "onAgregarEmpleado()" mat-raised-button>Agregar Empleado</button>
<!--         <input type="text" class="form__input" id="Cedula" placeholder="Cedula" required="" />
        <input type="text" class="form__input" id="Primer Nombre" placeholder="Primer Nombre" required="" />
        <button mat-raised-button>Buscar</button> -->
      </div>
    </div>
<!--     <div class="contenedor_agregacion">

    </div> -->
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- primerNombre Column -->
      <ng-container matColumnDef="primerNombre">
        <th mat-header-cell *matHeaderCellDef> Primer Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.primerNombre}} </td>
      </ng-container>

      <!-- segundoNombre Column -->
      <ng-container matColumnDef="segundoNombre">
        <th mat-header-cell *matHeaderCellDef> Segundo Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.segundoNombre}} </td>
      </ng-container>

      <!-- primerApellido Column -->
      <ng-container matColumnDef="primerApellido">
        <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.primerApellido}} </td>
      </ng-container>

      <!-- segundoApellido Column -->
      <ng-container matColumnDef="segundoApellido">
        <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.segundoApellido}} </td>
      </ng-container>

      <!-- cedula Column -->
      <ng-container matColumnDef="cedula">
        <th mat-header-cell *matHeaderCellDef> Cedula </th>
        <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
      </ng-container>

      <!-- fechaNacimiento Column -->
      <ng-container matColumnDef="fechaNacimiento">
        <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- correo Column -->
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
      </ng-container>

      <!-- telefono Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

      <!-- sexoBiologico Column -->
      <ng-container matColumnDef="sexoBiologico">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.sexoBiologico}} </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element; let i = index">
        <button mat-icon-button (click) = "onEditarEmpleado(i)" color="Primary-grey" title="Edit Contact"><mat-icon>edit</mat-icon></button>
      </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
